{% extends 'layout.html.twig' %}

{% block titre %}

    Erreur - {{ code }}


{% endblock %} 

{% block css %}

    

<!-- CSS -->
{% endblock %} 

{% block contenu %}


    <header id="accueil">
        <a class="left-align btn waves-effect waves-teal" href="http://alaska.thomassebert.fr/">Retour à l'acceuil</a><h1 class="white-text center-align">Erreur</h1>
    </header>
 
    <main class="container">

        <!-- FORMULAIRE DE CONNEXION -->
      <div class="row">
         <p class="col s8 offset-s2"> {{ message }} </p>
      </div>

    </main>

<!-- CONTENU -->
{% endblock %} 

{% block footer %}



<!-- FOOTER -->
{% endblock %} 

{% block js %}



<!-- JS -->
{% endblock %} 

