{% extends 'layout.html.twig' %}

{% block titre %}

    Erreur - {{ code }}


{% endblock %} 

{% block css %}

    

<!-- CSS -->
{% endblock %} 

{% block contenu %}


    <header id="accueil">
        <a class="left-align btn waves-effect waves-teal" href="http://alaska.thomassebert.fr/">Retour à l'acceuil</a><h1 class="white-text center-align">Erreur</h1>
    </header>
 
    <main class="container">

        <!-- FORMULAIRE DE CONNEXION -->
      <div class="row">
        <br/>
         <h5 class="col s8 offset-s2 center-align"> {{ message }} </h5>
      </div>

    </main>

<!-- CONTENU -->
{% endblock %} 

{% block footer %}

<div class="flexx">
    <a class="waves-effect waves-teal btn-flat" href="http://alaska.thomassebert.fr/administration">Administration</a> 
    <a href="https://insight.sensiolabs.com"><img src="https://insight.sensiolabs.com/projects/5a9e9f05-7685-47d7-a260-b30086a92fbc/small.png" alt="SensioLabs Medal"></a>
    {% if is_granted('ROLE_ADMIN') %}
        <a class="right-align waves-effect waves-teal btn-flat" href="{{ path('logout') }}">Déconnexion</a>
    {% endif %}
</div>

<!-- FOOTER -->
{% endblock %} 

{% block js %}



<!-- JS -->
{% endblock %} 


