{% extends 'layout.html.twig' %}

{% block titre %}

    Connexion


{% endblock %} 

{% block css %}

    

<!-- CSS -->
{% endblock %} 

{% block contenu %}


    <header id="accueil">
        <a class="left-align btn waves-effect waves-teal" href="http://alaska.thomassebert.fr/">Retour à l'acceuil</a><h1 class="white-text center-align">Connexion</h1>
    </header>

    {% if error %}
        <div class="">
            <strong>Erreur de connexion</strong> {{ error }}
        </div>
    {% endif %}

    
    <main class="container">

        <!-- FORMULAIRE DE CONNEXION -->
      <div class="row">
         <form method="post" role="form" action="{{ path('login_check') }}">
             <div class="input-field col s10 offset-s1 m4 offset-m1">
                 <input type="text" value="{{ last_username }}" name="_username" id="username"/>
                 <label for="username">Votre identifiant</label>
             </div>
             <div class="input-field col s10 offset-s1 m4 offset-m2">
                 <input type="password" name="_password" id="password"/>
                 <label for="password">Votre mot de passe</label>
             </div>
             <button class="col s4 offset-s7 m2 offset-m9 btn waves-effect waves-teal" type="submit" name="action">Connexion</button>    
         </form>
      </div>

      <!-- EXPLICATIONS VISITEURS -->
      <br/><div class="divider"></div><br/>

      <div class="row">
          <p class="col s10 offset-s1"> Ce site à été réalisé dans le cadre d'une formation. Afin de pouvoir présenter l'ensemble de mon travail, tout visiteur peut obtenir l'accès au panneau d'administration en utilisant 'Visiteur' comme identifiant et mot de passe. Toutefois, seul l'administrateur du site (Jean Forteroche) peut l'utiliser. Les visiteurs ne pourront pas y effectuer d'actions.  </p>
      </div>

    </main>

<!-- CONTENU -->
{% endblock %} 

{% block footer %}



<!-- FOOTER -->
{% endblock %} 

{% block js %}



<!-- JS -->
{% endblock %} 




